*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mobile, .tablet {
    display: none;

}

@media screen and (max-width: 768px)  {
    .laptop {
        display: none;
    }
    .tablet {
        display: block;
    }
    
}

@media screen and (max-width: 425px) {
    .tablet {
        display: none;
    }
    .mobile {
        display: block;
    }
}
